# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy import stats
import math

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('../sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'AG/LGANLSDM(OESESETRA N  AKL)QTBC',
 'calculationPrice': 'tops',
 'open': None,
 'openTime': None,
 'openSource': 'ioclffia',
 'close': None,
 'closeTime': None,
 'closeSource': 'fifolica',
 'high': None,
 'highTime': None,
 'highSource': None,
 'low': None,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 132.43,
 'latestSource': 'IEX real time price',
 'latestTime': '2:48:01 PM',
 'latestUpdate': 1611889828789,
 'latestVolume': None,
 'iexRealtimePrice': 129.06,
 'iexRealtimeSize': 101,
 'iexLastUpdated': 1638006091984,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 130.51,
 'previousVolume': 113031962,
 'change': 0.64,
 'changePercent': 0.0049,
 'volume': None,
 'iexMarketPercent': 0.013965611825637759,
 'iexVolume': 912098,
 'avgTotalVolume': 109489746,
 'iexBidPrice': 133.9,
 'iexBidSize': 102,
 'iexAskPrice': 133.65,
 'iexAskSize': 103,
 'iexOpen': 131.26,
 'iexOpenTime': 1647054656840,
 'iexClose': 130.56,
 'iexCloseTime': 1659777404816,
 'marketCap': 2153329660041,
 'peRatio': 39.22,
 'week52High': 138.52,
 'week52Low': 58.34,
 'ytdChange': -0.03880645049788958,
 'lastTradeTime': 1615480642696,
 'isUSMarketOpen': True}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [4]:
price = data['latestPrice']
pe_ratio = data['peRatio']
pe_ratio

39.22

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
final_dataframe = pd.DataFrame(columns=my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data =requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
        pd.Series(
            [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['peRatio'],
                'N/A'
            ],
            index = my_columns
        ),
        ignore_index = True
        )
final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  128.361                   56.52                     N/A
1      AAL   16.407                   -1.19                     N/A
2      AAP  170.100                    25.4                     N/A
3     AAPL  133.350                   39.53                     N/A
4     ABBV  112.350                   25.36                     N/A
..     ...      ...                     ...                     ...
500    YUM  109.340                   32.24                     N/A
501    ZBH  165.700                  -225.4                     N/A
502   ZBRA  410.940                   47.83                     N/A
503   ZION   50.610                   20.83                     N/A
504    ZTS  164.860                   47.24                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace=True)
final_dataframe

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   43.200                    2.64                     N/A
1    NLOK   21.600                    4.08                     N/A
2     AIV    4.980                    4.79                     N/A
3     BIO  621.790                    5.47                     N/A
4     UNM   26.450                    5.83                     N/A
5     ALL  111.600                    7.77                     N/A
6     AFL   48.270                    7.78                     N/A
7     CPB   46.710                    7.99                     N/A
8    EBAY   57.840                    8.11                     N/A
9     KIM   17.027                    8.28                     N/A
10    MET   52.150                    8.74                     N/A
11     KR   34.370                    9.15                     N/A
12   BIIB  284.460                    9.22                     N/A
13    PHM   44.060                    9.28                     N/A
14    PNC  161.380                    9.58                     N/A
15    SRE  128.150                    9.61                     N/A
16    CTL   11.000                    9.93                     N/A
17     BK   47.184                   10.24                     N/A
18    NEE   85.156                   10.49                     N/A
19    MGM   31.210                   10.83                     N/A
20    MAS   57.670                   10.89                     N/A
21    LEN   78.710                      11                     N/A
22    HIG   53.830                   11.12                     N/A
23    TSN   64.510                   11.21                     N/A
24    PGR   99.277                   11.41                     N/A
25    DHI   74.810                   11.54                     N/A
26   FOXA   31.050                   11.76                     N/A
27   INTC   60.339                   11.79                     N/A
28    HII  178.560                   12.16                     N/A
29    STT   79.800                   12.53                     N/A
30    CVS   75.928                   12.59                     N/A
31    HBI   15.765                    12.7                     N/A
32      C   65.989                   12.82                     N/A
33    PFG   56.000                   12.83                     N/A
34    HPQ   25.585                   12.98                     N/A
35   PBCT   15.086                   13.05                     N/A
36     MS   78.545                   13.06                     N/A
37     VZ   59.762                    13.2                     N/A
38    HUM  414.964                   13.24                     N/A
39    UHS  136.060                   13.31                     N/A
40   DISH   33.619                   13.58                     N/A
41    LNC   54.064                   13.63                     N/A
42    ETR   95.890                    13.9                     N/A
43    BSX   37.168                   13.94                     N/A
44     WU   22.890                   13.94                     N/A
45     GD  157.700                   14.01                     N/A
46   VIAC   45.264                   14.03                     N/A
47    PNW   80.240                   14.07                     N/A
48    PPL   28.809                   14.26                     N/A
49    MCK  185.180                   14.53                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [8]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [9]:
portfolio_input()

You can now use the global portfolio_size variable to calculate the number of shares that our strategy should purchase.

In [11]:
position_size = float(portfolio_size)/len(final_dataframe.index)
for row in final_dataframe.index:
    final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row, 'Price'])

final_dataframe

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   43.200                    2.64                    4629
1    NLOK   21.600                    4.08                    9259
2     AIV    4.980                    4.79                   40160
3     BIO  621.790                    5.47                     321
4     UNM   26.450                    5.83                    7561
5     ALL  111.600                    7.77                    1792
6     AFL   48.270                    7.78                    4143
7     CPB   46.710                    7.99                    4281
8    EBAY   57.840                    8.11                    3457
9     KIM   17.027                    8.28                   11746
10    MET   52.150                    8.74                    3835
11     KR   34.370                    9.15                    5819
12   BIIB  284.460                    9.22                     703
13    PHM   44.060                    9.28                    4539
14    PNC  161.380                    9.58                    1239
15    SRE  128.150                    9.61                    1560
16    CTL   11.000                    9.93                   18181
17     BK   47.184                   10.24                    4238
18    NEE   85.156                   10.49                    2348
19    MGM   31.210                   10.83                    6408
20    MAS   57.670                   10.89                    3468
21    LEN   78.710                      11                    2540
22    HIG   53.830                   11.12                    3715
23    TSN   64.510                   11.21                    3100
24    PGR   99.277                   11.41                    2014
25    DHI   74.810                   11.54                    2673
26   FOXA   31.050                   11.76                    6441
27   INTC   60.339                   11.79                    3314
28    HII  178.560                   12.16                    1120
29    STT   79.800                   12.53                    2506
30    CVS   75.928                   12.59                    2634
31    HBI   15.765                    12.7                   12686
32      C   65.989                   12.82                    3030
33    PFG   56.000                   12.83                    3571
34    HPQ   25.585                   12.98                    7817
35   PBCT   15.086                   13.05                   13257
36     MS   78.545                   13.06                    2546
37     VZ   59.762                    13.2                    3346
38    HUM  414.964                   13.24                     481
39    UHS  136.060                   13.31                    1469
40   DISH   33.619                   13.58                    5949
41    LNC   54.064                   13.63                    3699
42    ETR   95.890                    13.9                    2085
43    BSX   37.168                   13.94                    5380
44     WU   22.890                   13.94                    8737
45     GD  157.700                   14.01                    1268
46   VIAC   45.264                   14.03                    4418
47    PNW   80.240                   14.07                    2492
48    PPL   28.809                   14.26                    6942
49    MCK  185.180                   14.53                    1080

In [10]:
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# Price-to-earnings ratio
pe_ratio = data[symbol]['quote']['peRatio']

# Price-to-book ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

# Price-to-sales ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# Enterprise Value divided by Gross Profit (EV/GP)
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [12]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_dataframe = rv_dataframe.append(
            pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                'N/A',
                data[symbol]['quote']['peRatio'],
                'N/A',
                data[symbol]['advanced-stats']['priceToBook'],
                'N/A',
                data[symbol]['advanced-stats']['priceToSales'],
                'N/A',
                ev_to_ebitda,
                'N/A',
                ev_to_gross_profit,
                'N/A',
                'N/A'
        ],
        index = rv_columns),
            ignore_index = True
        )

rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.468,N/A,55.19,N/A,8.15,N/A,7.58,N/A,33.468288,N/A,13.915912,N/A,N/A
1,AAL,16.100,N/A,-1.17,N/A,-1.74,N/A,0.3959,N/A,-5.897345,N/A,1.393807,N/A,N/A
2,AAP,173.500,N/A,24.3,N/A,3.08,N/A,1.17,N/A,10.987641,N/A,2.537277,N/A,N/A
3,AAPL,130.000,N/A,40.46,N/A,33.01,N/A,8.1,N/A,28.080108,N/A,20.312757,N/A,N/A
4,ABBV,116.150,N/A,25.35,N/A,13.08,N/A,5,N/A,16.768659,N/A,9.828063,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.410,N/A,32.25,N/A,-4.18,N/A,5.87,N/A,23.295913,N/A,9.922201,N/A,N/A
501,ZBH,160.780,N/A,-221.9,N/A,2.8,N/A,4.8,N/A,27.631277,N/A,8.028337,N/A,N/A
502,ZBRA,424.760,N/A,47.95,N/A,11.6,N/A,5.23,N/A,32.506365,N/A,11.849368,N/A,N/A
503,ZION,50.440,N/A,21.59,N/A,1.13,N/A,2.71,N/A,12.298135,N/A,3.119236,N/A,N/A
504,ZTS,167.560,N/A,48.76,N/A,21.76,N/A,12.09,N/A,33.930360,N/A,17.930950,N/A,N/A

{'week52change': 0.290414, 'week52high': 169.51, 'week52low': 90.41, 'marketcap': 75861250162, 'employees': 10724, 'day200MovingAvg': 134.17, 'day50MovingAvg': 148.64, 'float': 479955020, 'avg10Volume': 1641586.3, 'avg30Volume': 1479579.2, 'ttmEPS': 3.499, 'ttmDividendRate': 0.77, 'companyName': 'Zoetis, Inc.', 'sharesOutstanding': 494883276, 'maxChangePercent': 3.3525, 'year5ChangePercent': 1.69, 'year2ChangePercent': 0.608, 'year1ChangePercent': 0.281583, 'ytdChangePercent': 0.189876, 'month6ChangePercent': 0.10241, 'month3ChangePercent': 0.297048, 'month1ChangePercent': 0.159224, 'day30ChangePercent': 0.165634, 'day5ChangePercent': -0.012817, 'nextDividendDate': None, 'dividendYield': 0.00489706569361443, 'nextEarningsDate': '2020-10-13', 'exDividendDate': '2020-07-01', 'peRatio': 49.1, 'beta': 0.9584403132945124, 'totalCash': 1974321215, 'currentDebt': 549171552, 'revenue': 6518431250, 'grossProfit': 4133660573, 'totalRevenue': 6300683466, 'EBITDA': 2502772553, 'revenuePerShare': 13.28, 'revenuePerEmployee': 618960.04, 'debtToEquity': 2.45, 'profitMargin': 0.2407740535828538, 'enterpriseValue': 81297632588, 'enterpriseValueToRevenue': 13.46, 'priceToSales': 12.6, 'priceToBook': 29.222282216073907, 'forwardPERatio': 46.68, 'pegRatio': -42.88, 'peHigh': 46.10321684721315, 'peLow': 25.052455887152025, 'week52highDate': '2020-07-31', 'week52lowDate': '2020-03-22', 'putCallRatio': 1.5877629858076678}

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [13]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
40,AON,218.450,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,238.420,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,11.000,N/A,9.88,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,33.210,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,50.830,N/A,14.43,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
168,EVRG,53.700,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
190,FOX,30.190,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
192,FRC,160.150,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
204,GOOG,1855.790,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
326,MYL,16.590,N/A,31.52,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
327,NBL,8.480,N/A,-0.74,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
348,NWS,19.200,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
363,PEG,60.740,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
442,TROW,164.189,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
452,UA,16.230,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
454,UAL,46.300,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
498,XRX,21.220,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [14]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.468,N/A,55.19,N/A,8.15,N/A,7.5800,N/A,33.468288,N/A,13.915912,N/A,N/A
1,AAL,16.100,N/A,-1.17,N/A,-1.74,N/A,0.3959,N/A,-5.897345,N/A,1.393807,N/A,N/A
2,AAP,173.500,N/A,24.30,N/A,3.08,N/A,1.1700,N/A,10.987641,N/A,2.537277,N/A,N/A
3,AAPL,130.000,N/A,40.46,N/A,33.01,N/A,8.1000,N/A,28.080108,N/A,20.312757,N/A,N/A
4,ABBV,116.150,N/A,25.35,N/A,13.08,N/A,5.0000,N/A,16.768659,N/A,9.828063,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.410,N/A,32.25,N/A,-4.18,N/A,5.8700,N/A,23.295913,N/A,9.922201,N/A,N/A
501,ZBH,160.780,N/A,-221.90,N/A,2.80,N/A,4.8000,N/A,27.631277,N/A,8.028337,N/A,N/A
502,ZBRA,424.760,N/A,47.95,N/A,11.60,N/A,5.2300,N/A,32.506365,N/A,11.849368,N/A,N/A
503,ZION,50.440,N/A,21.59,N/A,1.13,N/A,2.7100,N/A,12.298135,N/A,3.119236,N/A,N/A
504,ZTS,167.560,N/A,48.76,N/A,21.76,N/A,12.0900,N/A,33.930360,N/A,17.930950,N/A,N/A

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [15]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [16]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# Print each percentile score to make sure it was calculated properly
for metric in metrics.values():
    print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

0       0.865347
1       0.154455
2        0.49505
3       0.776238
4       0.510891
         ...
500     0.653465
501    0.0257426
502     0.821782
503     0.447525
504     0.827723
Name: PE Percentile, Length: 505, dtype: object
0       0.744554
1      0.0475248
2       0.411881
3       0.960396
4       0.855446
         ...
500    0.0435644
501     0.386139
502     0.839604
503     0.106931
504     0.926733
Name: PB Percentile, Length: 505, dtype: object
0       0.816832
1      0.0237624
2       0.163366
3       0.843564
4        0.69505
         ...
500     0.744554
501     0.683168
502     0.714851
503     0.422772
504     0.936634
Name: PS Percentile, Length: 505, dtype: object
0      0.847525
1      0.029703
2      0.241584
3       0.79802
4       0.49703
         ...
500     0.70495
501    0.790099
502    0.843564
503    0.312871
504    0.849505
Name: EV/EBITDA Percentile, Length: 505, dtype: object
0       0.815842
1      0.0514851
2       0.114851
3       0.934653
4       0.649505
         ...
500     0.655446
501     0.518812
502     0.736634
503     0.158416
504     0.912871
Name: EV/GP Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.468,N/A,55.19,0.865347,8.15,0.744554,7.5800,0.816832,33.468288,0.847525,13.915912,0.815842,N/A
1,AAL,16.100,N/A,-1.17,0.154455,-1.74,0.0475248,0.3959,0.0237624,-5.897345,0.029703,1.393807,0.0514851,N/A
2,AAP,173.500,N/A,24.30,0.49505,3.08,0.411881,1.1700,0.163366,10.987641,0.241584,2.537277,0.114851,N/A
3,AAPL,130.000,N/A,40.46,0.776238,33.01,0.960396,8.1000,0.843564,28.080108,0.79802,20.312757,0.934653,N/A
4,ABBV,116.150,N/A,25.35,0.510891,13.08,0.855446,5.0000,0.69505,16.768659,0.49703,9.828063,0.649505,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.410,N/A,32.25,0.653465,-4.18,0.0435644,5.8700,0.744554,23.295913,0.70495,9.922201,0.655446,N/A
501,ZBH,160.780,N/A,-221.90,0.0257426,2.80,0.386139,4.8000,0.683168,27.631277,0.790099,8.028337,0.518812,N/A
502,ZBRA,424.760,N/A,47.95,0.821782,11.60,0.839604,5.2300,0.714851,32.506365,0.843564,11.849368,0.736634,N/A
503,ZION,50.440,N/A,21.59,0.447525,1.13,0.106931,2.7100,0.422772,12.298135,0.312871,3.119236,0.158416,N/A
504,ZTS,167.560,N/A,48.76,0.827723,21.76,0.926733,12.0900,0.936634,33.930360,0.849505,17.930950,0.912871,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [17]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.468,N/A,55.19,0.865347,8.15,0.744554,7.5800,0.816832,33.468288,0.847525,13.915912,0.815842,0.81802
1,AAL,16.100,N/A,-1.17,0.154455,-1.74,0.0475248,0.3959,0.0237624,-5.897345,0.029703,1.393807,0.0514851,0.0613861
2,AAP,173.500,N/A,24.30,0.49505,3.08,0.411881,1.1700,0.163366,10.987641,0.241584,2.537277,0.114851,0.285347
3,AAPL,130.000,N/A,40.46,0.776238,33.01,0.960396,8.1000,0.843564,28.080108,0.79802,20.312757,0.934653,0.862574
4,ABBV,116.150,N/A,25.35,0.510891,13.08,0.855446,5.0000,0.69505,16.768659,0.49703,9.828063,0.649505,0.641584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.410,N/A,32.25,0.653465,-4.18,0.0435644,5.8700,0.744554,23.295913,0.70495,9.922201,0.655446,0.560396
501,ZBH,160.780,N/A,-221.90,0.0257426,2.80,0.386139,4.8000,0.683168,27.631277,0.790099,8.028337,0.518812,0.480792
502,ZBRA,424.760,N/A,47.95,0.821782,11.60,0.839604,5.2300,0.714851,32.506365,0.843564,11.849368,0.736634,0.791287
503,ZION,50.440,N/A,21.59,0.447525,1.13,0.106931,2.7100,0.422772,12.298135,0.312871,3.119236,0.158416,0.289703
504,ZTS,167.560,N/A,48.76,0.827723,21.76,0.926733,12.0900,0.936634,33.930360,0.849505,17.930950,0.912871,0.890693

## Selecting the 50 Best Value Stocks¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [18]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [19]:
portfolio_input()

In [20]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,F,10.519,19013,-251.93,0.0237624,1.2000,0.122772,0.3042,0.0118812,3.954013,0.039604,2.065085,0.0910891,0.0578218
1,AIG,42.750,4678,-7.48,0.112871,0.5868,0.0574257,0.7950,0.0712871,4.619535,0.0435644,0.779536,0.0158416,0.060198
2,AAL,16.100,12422,-1.17,0.154455,-1.7400,0.0475248,0.3959,0.0237624,-5.897345,0.029703,1.393807,0.0514851,0.0613861
3,UNM,27.110,7377,5.80,0.19604,0.4874,0.0534653,0.4483,0.0336634,2.772769,0.0356436,0.431134,0.0039604,0.0645545
4,MET,52.437,3814,8.91,0.207921,0.6427,0.0613861,0.7126,0.0594059,4.940103,0.049505,0.714511,0.0118812,0.0780198
5,BA,212.278,942,-26.79,0.0752475,-9.9900,0.0336634,2.0000,0.323762,-27.501902,0.0178218,-200.606418,0.0019802,0.090495
6,ALL,110.680,1807,7.99,0.2,1.3000,0.150495,0.7399,0.0653465,2.522485,0.0336634,0.742231,0.0138614,0.0926733
7,HIG,53.956,3706,11.41,0.233663,1.0800,0.10099,0.9324,0.0950495,4.616109,0.0415842,0.897064,0.0217822,0.0986139
8,FTI,11.867,16853,-0.94,0.182178,1.3100,0.157426,0.4086,0.0277228,3.673550,0.0376238,2.378060,0.110891,0.103168
9,ABC,108.920,1836,-6.29,0.120792,-22.2700,0.019802,0.1153,0.0039604,9.030324,0.140594,4.240841,0.233663,0.103762
10,LNC,54.017,3702,13.51,0.267327,0.4760,0.0514851,0.5871,0.0455446,9.611283,0.172277,0.562047,0.00990099,0.109307
11,PFG,55.900,3577,12.86,0.249505,0.9783,0.0851485,1.0018,0.120792,7.790757,0.0990099,0.946037,0.0257426,0.11604
12,L,48.950,4085,-12.51,0.0930693,0.7789,0.0653465,0.9860,0.110891,11.861400,0.285149,0.969932,0.0277228,0.116436
13,HPQ,25.738,7770,13.07,0.261386,-14.9600,0.0277228,0.5820,0.0435644,8.233899,0.106931,3.260601,0.174257,0.122772
14,LB,45.930,4354,-63.67,0.0514851,-8.2200,0.0356436,1.0800,0.139604,9.806657,0.180198,3.945183,0.221782,0.125743
15,AFL,48.730,4104,7.56,0.19802,1.0300,0.0920792,1.5000,0.232673,6.387344,0.0554455,1.524435,0.0613861,0.127921
16,CVS,77.050,2595,13.00,0.257426,1.5100,0.190099,0.3933,0.0217822,8.386245,0.116832,1.517909,0.0594059,0.129109
17,KSS,44.850,4459,-29.01,0.0732673,1.4400,0.180198,0.4230,0.0316832,12.100590,0.306931,1.502771,0.0574257,0.129901
18,VLO,62.720,3188,-2263.14,0.0039604,1.2900,0.144554,0.3250,0.0138614,11.684468,0.275248,4.054329,0.227723,0.133069
19,DXC,28.460,7027,-1.92,0.146535,1.6800,0.226733,0.3995,0.0257426,7.170235,0.0752475,3.475717,0.192079,0.133267
20,KR,34.580,5783,8.96,0.209901,2.6500,0.373267,0.2023,0.00792079,5.912706,0.0534653,1.216148,0.039604,0.136832
21,HRB,16.507,12116,16.16,0.316832,-11.1600,0.029703,1.0001,0.118812,5.857738,0.0514851,3.285054,0.182178,0.139802
22,C,65.971,3031,12.80,0.247525,0.7869,0.0673267,1.4500,0.225743,7.382971,0.0871287,1.812767,0.0772277,0.14099
23,HCA,168.788,1184,17.63,0.362376,-61.0000,0.00990099,1.1500,0.157426,8.279572,0.112871,1.621534,0.0633663,0.141188
24,PRGO,44.490,4495,-924.95,0.00990099,1.0300,0.0920792,1.2100,0.176238,9.563889,0.166337,4.673163,0.267327,0.142376
25,HFC,29.590,6759,-11.68,0.0970297,0.8842,0.0792079,0.3668,0.0178218,13.468763,0.380198,2.955267,0.142574,0.143366
26,GPS,22.300,8968,-7.88,0.110891,3.5600,0.471287,0.5988,0.0475248,-11.358843,0.0257426,1.756809,0.0673267,0.144554
27,VIAC,44.630,4481,13.54,0.270297,2.0000,0.277228,0.8217,0.0752475,6.732837,0.0613861,1.285991,0.0455446,0.145941
28,TRV,146.331,1366,16.57,0.330693,1.3000,0.150495,1.1900,0.168317,4.888830,0.0475248,1.136359,0.0336634,0.146139
29,NWSA,19.000,10526,-11.52,0.10099,1.4700,0.184158,1.2700,0.183168,10.577915,0.221782,1.222058,0.0415842,0.146337
30,HPE,12.522,15971,-50.36,0.0633663,1.0400,0.0970297,0.6104,0.049505,13.313569,0.372277,3.222254,0.166337,0.149703
31,APA,18.670,10712,-0.88,0.184158,-4.0100,0.0455446,1.3600,0.20495,9.226129,0.150495,3.183310,0.164356,0.149901
32,AIZ,149.260,1339,22.10,0.451485,1.4300,0.178218,0.8234,0.0772277,1.857725,0.0316832,0.810815,0.0178218,0.151287
33,LYV,77.470,2581,-11.15,0.10297,-161.0500,0.0039604,3.5900,0.556436,-20.192152,0.019802,1.818841,0.0792079,0.152475
34,WRK,45.940,4353,-17.37,0.0851485,1.1500,0.111881,0.6951,0.0574257,8.143586,0.10495,6.754422,0.409901,0.153861
35,MRO,8.883,22514,-6.00,0.122772,0.6007,0.0594059,1.9300,0.309901,6.814324,0.0653465,3.760163,0.211881,0.153861
36,UHS,131.930,1515,13.25,0.265347,1.9600,0.265347,0.9922,0.114851,7.544800,0.0891089,1.211740,0.0376238,0.154455
37,AIV,5.012,39904,4.78,0.192079,0.3640,0.049505,0.8766,0.0891089,9.086949,0.144554,5.524495,0.322772,0.159604
38,PRU,88.000,2272,-327.54,0.0217822,0.5000,0.0554455,0.5440,0.039604,22.936944,0.691089,0.547010,0.00792079,0.163168
39,OXY,24.360,8210,-1.41,0.150495,2.1400,0.30297,1.0800,0.139604,6.849866,0.0712871,3.106483,0.156436,0.164158
40,COTY,7.128,28058,-6.56,0.114851,1.2800,0.139604,1.4200,0.219802,-29.005195,0.0158416,5.804442,0.352475,0.168515
41,BK,47.460,4214,10.07,0.221782,1.0333,0.0950495,2.1700,0.351485,7.352938,0.0851485,2.172381,0.10297,0.171287
42,CCL,21.707,9213,-2.04,0.142574,1.2200,0.126733,2.2700,0.365347,-44.910484,0.00990099,3.771900,0.213861,0.171683
43,RE,233.540,856,14.67,0.291089,0.9880,0.0871287,1.0600,0.129703,13.198975,0.364356,1.030430,0.029703,0.180396
44,WDC,52.100,3838,-463.17,0.0178218,1.6700,0.222772,0.9731,0.106931,10.629372,0.227723,5.572882,0.340594,0.183168
45,CNC,63.800,3134,17.25,0.350495,1.4500,0.182178,0.3715,0.019802,13.445261,0.376238,0.526154,0.00594059,0.186931
46,PHM,45.110,4433,9.61,0.213861,1.9100,0.261386,1.0600,0.129703,7.268987,0.0811881,4.556329,0.255446,0.188317
47,TSN,67.310,2971,11.20,0.231683,1.5700,0.194059,0.5720,0.0415842,7.670923,0.0950495,6.152031,0.382178,0.188911
48,LUV,48.530,4121,-15.96,0.0871287,2.8500,0.390099,2.2100,0.362376,-14.227674,0.0237624,1.850104,0.0831683,0.189307
49,STT,79.530,N/A,13.04,0.259406,1.2300,0.128713,2.1800,0.357426,8.250253,0.108911,2.106394,0.10099,0.191089

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [21]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [22]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [23]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [24]:
writer.save()